{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Sign Up{% endblock %}


{% block meta %}
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/signin_form.css' %}" media="screen,projection">
{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<br><br><br>
<div class="hide-on-small-only">
	<br><br><br><br><br> 
</div>

<div class="row">
	<div class="card-panel col s12 m6 l6 offset-m3 offset-l3 transparentpad white-text z-depth-5">
		<!-- TAB -->
		<div >
			<ul class="tabs transparent">
				<li class="tab col s6"><a class="active"  href="#signup_form_div"">Sign Up</a></li>
				<li class="tab col s6"><a target="_self"  href="\accounts\signin">Sign In</a></li>
			</ul>
		</div>

		<br>

		<div id="signup_form_div" class="col s12">
			<form id="signup_form" action="" method="post">
				{% csrf_token %}
				
				<div class="row">
					<div class="col s12 m6">
						<div >
							{{ form.username.label_tag }}
							{{ form.username }}
							<div class="red-text">{{ form.username.errors }}</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div >
							{{ form.email.label_tag }}
							{{ form.email }}
							<div class="red-text">{{ form.email.errors }}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12 m6">
						<div >
							{{ form.password1.label_tag }}
							{{ form.password1 }}
							<div class="red-text">{{ form.password1.errors }}</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div >
							{{ form.password2.label_tag }}
							{{ form.password2 }}
							<div class="red-text">{{ form.password2.errors }}</div>
						</div>
					</div>
				</div>


				{% if form.non_field_errors %}
					<div class="card-panel  transparent">

						{% for error in form.non_field_errors %}
							<label class="red-text" >{{error}}</label>
						{% endfor %}
					</div>
				{% endif %}

				<p class="center-align ">
					<a class="grey lighten-3 waves-effect waves-light btn black-text" onclick="$('#signup_form').submit()">Submit</a>
				</p>
			</form>
		</div>
		
		<div>
			<i class="Tiny material-icons">done_all</i>
			<a class=" right " href="{% url 'userena_password_reset' %}" title="Forget Password">Forget Password</a>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}


{% block script %}
	<!-- <script type="text/javascript" src="{% static 'accounts/js/signin.js' %}"></script> -->
{% endblock %}